<a href="https://colab.research.google.com/github/StephenManoharGurram/Programming-Assignment-1/blob/main/ProgrammingAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
• Sort the list and find the min and max age
• Add the min age and the max age again to the list
• Find the median age (one middle item or two middle items divided by two)
• Find the average age (sum of all items divided by their number)
• Find the range of the ages (max minus min)

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages_sorted = sorted(ages)
min_age = ages_sorted[0]
max_age = ages_sorted[-1]
print("Sorted Ages:", ages_sorted)
print("Minimum Age:", min_age)
print("Maximum Age:", max_age)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26

In [ ]:
ages_sorted.append(min_age)
ages_sorted.append(max_age)
print("Ages with Min and Max Added Again:", ages_sorted)

Ages with Min and Max Added Again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [ ]:
n = len(ages_sorted)
if n % 2 == 0:
    median_age = (ages_sorted[n//2 - 1] + ages_sorted[n//2]) / 2
else:
    median_age = ages_sorted[n//2]
print("Median Age:", median_age)

Median Age: 24.0

In [ ]:
average_age = sum(ages_sorted) / len(ages_sorted)
print("Average Age:", average_age)

Average Age: 22.75

In [ ]:
age_range = max_age - min_age
print("Range of Ages:", age_range)

Range of Ages: 7

• Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [ ]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

# Create a student dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java', 'SQL'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# Get the length of the student dictionary
student_length = len(student)
print("Length of Student Dictionary:", student_length)

# Get the value of skills and check the data type
skills_value = student['skills']
print("Skills:", skills_value)
print("Type of Skills Value:", type(skills_value))

# Modify the skills values by adding one or two skills
student['skills'].extend(['JavaScript', 'HTML'])
print("Modified Skills:", student['skills'])

# Get the dictionary keys as a list
keys_list = list(student.keys())
print("Keys List:", keys_list)

# Get the dictionary values as a list
values_list = list(student.values())
print("Values List:", values_list)

Length of Student Dictionary: 9
Skills: ['Python', 'Java', 'SQL']
Type of Skills Value: <class 'list'>
Modified Skills: ['Python', 'Java', 'SQL', 'JavaScript', 'HTML']
Keys List: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values List: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'Java', 'SQL', 'JavaScript', 'HTML'], 'USA', 'New York', '123 Main St']

Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to
family_members

In [ ]:
# Create a tuple containing names of your sisters and your brothers
sisters = ('Emily', 'Sophie')
brothers = ('Michael', 'Daniel')

# Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sisters

# How many siblings do you have?
num_siblings = len(siblings)
print("Number of Siblings:", num_siblings)

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
father = 'John'
mother = 'Mary'
family_members = (father, mother) + siblings

print("Family Members:", family_members)

Number of Siblings: 4
Family Members: ('John', 'Mary', 'Michael', 'Daniel', 'Emily', 'Sophie')

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [ ]:
# Given sets and list
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
print("Length of it_companies:", len(it_companies))

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['LinkedIn', 'Netflix'])
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('Netflix')
print("it_companies after removing 'Netflix':", it_companies)

# What is the difference between remove and discard
# 'remove' raises an error if the element is not present, while 'discard' does not raise an error
it_companies.discard('Snapchat')  # Does not raise an error
# it_companies.remove('Snapchat')  # Raises KeyError because 'Snapchat' is not in the set

# Join A and B
union_set = A.union(B)
print("Union of A and B:", union_set)

# Find A intersection B
intersection_set = A.intersection(B)
print("Intersection of A and B:", intersection_set)

# Is A subset of B
print("Is A subset of B:", A.issubset(B))

# Are A and B disjoint sets
print("Are A and B disjoint sets:", A.isdisjoint(B))

# Join A with B and B with A
A.update(B)
B.update(A)
print("Updated A:", A)
print("Updated B:", B)

# What is the symmetric difference between A and B
symmetric_difference_set = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference_set)

# Delete the sets completely
del it_companies, A, B

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
it_companies after adding 'Twitter': {'Microsoft', 'Apple', 'IBM', 'Google', 'Amazon', 'Oracle', 'Twitter', 'Facebook'}
it_companies after adding multiple companies: {'Oracle', 'IBM', 'Netflix', 'Facebook', 'Apple', 'LinkedIn', 'Twitter', 'Microsoft', 'Google', 'Amazon'}
it_companies after removing 'Netflix': {'Oracle', 'IBM', 'Facebook', 'Apple', 'LinkedIn', 'Twitter', 'Microsoft', 'Google', 'Amazon'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Updated A: {19, 20, 22, 24, 25, 26, 27, 28}
Updated B: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Length of age list: 8
Length of age set: 5

The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area.

In [ ]:
import math

# Given radius
radius = 30

# Calculate the area of a circle
area_of_circle = math.pi * radius**2

# Calculate the circumference of a circle
circum_of_circle = 2 * math.pi * radius

# Print the calculated values
print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

# Take radius as user input
user_radius = float(input("Enter the radius of the circle (in meters): "))

# Calculate the area of the circle using user input radius
user_area_of_circle = math.pi * user_radius**2
print("Area of the circle with radius", user_radius, "is:", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle (in meters): 30
Area of the circle with radius 30.0 is: 2827.4333882308138

Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

In [ ]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [ ]:
radius = 10
area = 3.14 * radius ** 2

# Using string formatting method
output = "The area of a circle with radius {} is {} meters square.".format(radius, area)
print(output)

The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
output = "The area of a circle with radius {} is {:.2f} meters square.".format(radius, area)
print(output)

The area of a circle with radius 10 is 314.00 meters square.

Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [ ]:
# Read the number of students from the user
N = int(input("Enter the number of students: "))

# Initialize an empty list to store the weights in lbs
weights_lbs = []

# Read the weights of N students into the list
for i in range(N):
    weight_lbs = float(input("Enter the weight of student {}: ".format(i+1)))
    weights_lbs.append(weight_lbs)

# Convert weights from lbs to kg and store them in a separate list
weights_kg = []
for weight_lbs in weights_lbs:
    weight_kg = weight_lbs * 0.453592  # 1 lb = 0.453592 kg
    weights_kg.append(round(weight_kg, 2))  # Round to two decimal places

# Print the lists
print("Weights in lbs:", weights_lbs)
print("Weights in kg:", weights_kg)